hass_base_url: xxxxxxxxx
hass_password: xxxxxxx

db_connection: mysql://user:password@SERVER_IP/DB_NAME?charset=utf8

nest_client_id: xxxxxxxxxx
nest_client_secret: xxxxxxxxxxxx

hue_token: xxxxxxxxx
hue_kitchen_light: http://192.168.0.116/api/xxxxxxxxxx/sensors/15
hue_kitchen_temperature: http://192.168.0.116/api/xxxxxxxxxx/sensors/13
hue_kitchen_motion: http://192.168.0.116/api/xxxxxxxxxx/sensors/14

darksky_key: xxxxxxxxxx
metoffice_key: xxxxxxxxx

ambilight_pi_username: xxxx
ambilight_pi_password: xxxxxxxxx

# Zones
zone_home_lat: 1.0000
zone_home_long: 1.0000

zone_accom_lat: 1.0000
zone_accom_long: 1.0000

zone_work_lat: 1.0000
zone_work_long: 1.0000