hass_password: xxxxxxx
nest_client_id: xxxxxxxxxx
nest_client_secret: xxxxxxxxxxxx

hue_kitchen_light: http://10.0.1.5/api/xxxxxxxxxx/sensors/15
hue_kitchen_temperature: http://10.0.1.5/api/xxxxxxxxxx/sensors/13
hue_kitchen_motion: http://10.0.1.5/api/xxxxxxxxxx/sensors/14
